*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/keystore.properties
/app/my-upload-key.keystore
/app/licenses/
/app/cmdline-tools/
/app/emulator/
/app/build-tools/
/app/.temp
.project
.settings/
.vscode/
/app/.classpath
/app/.project
/fastlane/report.xml
/app/.settings/
/app/patcher/
/app/platform-tools/
/app/platforms
/app/tools/
/app/.knownPackages
/play_config.json
/firebase_credentials.json
/fastlane/.env.dev
.secret
/secret
key.jks